@import url('https://fonts.googleapis.com/css?family=Roboto:300');


section.translateup {
    text-align:center;
    background: url("../css/icons/back.png") no-repeat center;
    background-size: cover;
    color:#ffffff;
    font-family:'Roboto';
    font-weight:300;
    overflow:hidden;
    backface-visibility: hidden;
    perspective: 12px;
    transform: translate3d(0,0,0);
    height: 100vh;

}
div.container-textfull {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    background-color: #1b1e21;
}
div.titlegreet{
    background-color: #1b1e21;
}

div.titlegreet:first-of-type {
    animation: showup 7s infinite;
}

div.titlegreet:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

div.titlegreet:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
